@font-face {
  font-family: 'inter';
  src: url('../font/inter-regular-webfont.woff2') format('woff2'),
      url('../font/inter-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../font/inter-medium-webfont.woff2') format('woff2'),
      url('../font/inter-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../font/inter-semibold-webfont.woff2') format('woff2'),
      url('../font/inter-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('../font/inter-bold-webfont.woff2') format('woff2'),
      url('../font/inter-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: 'inter';
  color: #535862;
}

:root {
  --main-blue: #0F91D2;
}

.font-inter {
  font-family: 'inter';
}

.text-blue {
  color: var(--main-blue);
}

.bg-blue {
  background: var(--main-blue);
}

input::placeholder {
  color: #717680;
}

.focus-none {
  box-shadow: none;
  outline: none;
}

.myblack {
  color: #535862;
}

.myhead {
  color: #181D27;
}

.mycontainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.custom-list li::marker {
  color: #000000;
  content: '● ';
  font-size: 20px;
}

.btn-blue {
  background: #0F91D2;
}

.selected-flag {
  background: transparent !important;
}

.scroll-0::-webkit-scrollbar {
  width: 0px;
}

#simple-tabpanel-0 .css-19kzrtu{
  padding: 0 !important;
}